<div class="min-h-screen bg-white flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm">
      <div>
        <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg" alt="Workflow">
        <h2 class="mt-6 text-3xl leading-9 font-extrabold text-gray-900">
          Sign up to your account
        </h2>
        <p class="mt-2 text-sm leading-5 text-gray-600 max-w">
          Or
          <%= link_to "Sign in", new_session_path(resource_name), class: "font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150" %><br />
        </p>
      </div>

      <div class="mt-8">
        <div class="mt-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "mt-8"} ) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div>
              <%= f.label :email, class: "block text-sm font-medium leading-5 text-gray-700" %>
              <div class="mt-1 rounded-md shadow-sm">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>

            <div class="mt-6">
               <%= f.label :password, class: "block text-sm font-medium leading-5 text-gray-700" %>
              <div class="mt-1 rounded-md shadow-sm">
                <%= f.password_field :password, autofocus: true, autocomplete: "password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>

            <div class="mt-6">
               <%= f.label :password_confirmation, class: "block text-sm font-medium leading-5 text-gray-700" %>
              <div class="mt-1 rounded-md shadow-sm">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "password confirmation", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
              </div>
            </div>

            <div class="mt-6">
              <%= button_tag class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out" do %>
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                Sign up
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:block relative w-0 flex-1">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">
  </div>
</div>
