<!DOCTYPE html>
<html>
  <head>
    <title>CarManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <% if alert.present? %>
      <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative fixed alert" role="alert">
        <strong>
          <%= alert %>
        </strong>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
